body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 45px;
}
.container{
    border: 5px solid salmon  ;
    width: 500px;
    height: 500px;
}
.grid{
    border: 1px solid rgb(0, 0, 0)  ;
}
/*.slider{
    height: 100%;
    width: 350px;
    /*-webkit-appearance: none;
    
}*/
input[type="range"] {
    -webkit-appearance: none;
    width: 350px;
    height: 7px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 30px;
    background-image: linear-gradient(salmon, salmon);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #2aaabb;
    cursor: ew-resize;
    box-shadow: 0 0 2px 0 #555;
    transition: background .3s ease-in-out;
  }
